.container
  .row
    .span7
      %h2
        Tasks in this category
    .span2.pull-right
      = link_to 'New Task', new_task_path, class: 'btn btn-primary', remote: true
  %br
#task-list.container
  = render partial: 'tasks/task_list', locals: {tasks: Task.where(category_id: @category.id)}
#modal.modal.fade