%nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
  %a{ :href => "", :class => "navbar-brand" } TODO
  %ul.navbar-nav
    %li.nav-item
      = link_to 'Tasks', tasks_path, class: 'btn btn-success'
      = link_to 'Categories', categories_path, class: 'btn btn-success'
        